.row
  .col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-sm-offset-1
    %h2 
      Log in
    = form_for(:user, url: session_path(resource_name)) do |f|
      = devise_error_messages!
      .row
        .col-xs-6.col-sm-6.col-md-6
          .form-group
            = f.email_field :email, class: "form-control input-lg", placeholder: "Email", autofocus: true
      .row
        .col-xs-6.col-sm-6.col-md-6
          .form-group
            = f.password_field :password, class: "form-control input-lg", placeholder: "Password"
      .row
        .col-xs-6.col-sm-6.col-md-6
          .actions
            = f.submit "Log In", class: "btn btn-primary btn-block btn-lg"
    = render "users/shared/links"




