<!DOCTYPE html>
<html>
<head>
  <title>Polyfriends</title>
 	<%= stylesheet_link_tag    "bootstrap.min.css", media: "all", "data-turbolinks-track" => true %>
  	<%= stylesheet_link_tag    "bootstrap-theme.min.css", media: "all", "data-turbolinks-track" => true %>

  	<%= javascript_include_tag "bootstrap.min.js", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "npm.js", "data-turbolinks-track" => true %>

  	<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
